<%- include('../partials/header'); -%>

<!-- <div class="container"> .label {
display: inline-block;
} -->

    <h1 style="text-align:center">Enter a New Product </h1>
    <div class="row">
        <div style="width:30%;margin:20px auto;">
            <form action="/products" method="POST">
                <div class="form-group row">
                    <label for="spec1" class="col-sm-2 col-form-label">Spec1 </label>
                    <div class="col-sm-10">
                        <input type="text" name="products[Specs1]" placeholder="Spec1" class="form-control" id="spec1">
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="spec2" class="col-sm-2 col-form-label">Spec2</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[Specs2]" placeholder="Spec2" class="form-control" id="spec2">
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="spec3" class="col-sm-2 col-form-label">Spec3</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[Specs3]" placeholder="Spec2" class="form-control" id="spec3">
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" name="products[Price]" placeholder="Price" class="form-control" id="price">
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="remark" class="col-sm-2 col-form-label">Remarks</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[Remarks]" placeholder="Remark" class="form-control" id="remark">
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="contact" class="col-sm-2 col-form-label">First-Ants-Contact</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[FirstAntsContact]" placeholder="first-ants contact" class="form-control" id="contact">
                    </div>
                    
                </div>
                <div class="form-group row row">
                    <label for="contactnumber" class="col-sm-2 col-form-label">Contact-Number</label>
                    <div class="col-sm-10">
                        <input type="number" name="products[ContactNumber]" placeholder="Contact Number" class="form-control" id="contactnumber">
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Customer-Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[CustomerEmail]" placeholder="Customer Email" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="branch" class="col-sm-2 col-form-label">Company-Branch</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[CompanyBranch]" placeholder="Company Branch" class="form-control" id="branch">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inform" class="col-sm-2 col-form-label">Inform-Date</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[InformDate]" placeholder="Inform Date" class="form-control" id="inform">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dispatch" class="col-sm-2 col-form-label">Dispatch-Date</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[DispatchDate]" placeholder="Dispatch Date" class="form-control" id="dispatch">
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="po" class="col-sm-2 col-form-label">PO-Date</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[POdate]" placeholder="PO Date" class="form-control" id="po">
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="orderid" class="col-sm-2 col-form-label">Order-ID</label>
                    <div class="col-sm-10">
                        <input type="number" name="products[order_id]" placeholder="Order ID" class="form-control" id="orderid">
                    </div>
                    
                </div>
                <div class="mt-2 form-group row">
                    <label for="instituteorcompany" class="col-sm-2 col-form-label" >Institute</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[InstituteOrCompany]" placeholder="Institute or Company" class="form-control" id="instituteorcompany">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customercategory" class="col-sm-2 col-form-label">Customer-Category</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[CustomerCategory]" placeholder="Customer Category" class="form-control" id="customercategory">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="contactperson" class="col-sm-2 col-form-label">Contact-Person</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[Contactperson]" placeholder="Contact Person" class="form-control" id="contactperson">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="department" class="col-sm-2 col-form-label">Department</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[Department]" placeholder="Department" class="form-control" id="department">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="item" class="col-sm-2 col-form-label">Item</label>
                    <div class="col-sm-10">
                        <input type="text" name="products[Item]" placeholder="item" class="form-control" id="item">
                    </div>
                </div>

                 <div class="form-group">
                    <button class="btn btn-lg btn-primary border btn-block">Submit</button>
                </div>

            </form>
            <a href="/">Go Back</a>
        </div>
    </div>

<!-- </div> -->

<%- include('../partials/footer'); -%>